<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <httpHandlers>
      <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ServiceStack.Interfaces" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.4114.3279" newVersion="1.0.4114.3279" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ServiceStack.Text" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.9.42099" newVersion="2.0.9.42099" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ServiceStack.Common" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.4114.3279" newVersion="1.0.4114.3279" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ServiceStack" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.9.3280" newVersion="2.0.9.3280" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>